{% extends "dashboard.html" %}
{% block form_content %}


{% for job in jobs %}
<div class="application-page">
    <div class="application-container">
        <div class="application-header">
            <span class="application-badge">
                <i class="fa-regular fa-file-lines"></i>
                تفاصيل التقديم
            </span>
            <h3 class="header-application" data-job-id="{{ job['job_id'] }}">{{ job['job_title'] }}</h3>
        </div>
        <div class="application-grid">
            <div class="right-application-card">
                <div class="company-info-card application-base">
                    <div class="company-info">
                        <p class="card">
                            <i class="fa-regular fa-building"></i>
                            الشركة
                        </p>
                        <b> {{ job['company_name'] }}</b>
                        <p class="card">
                            <i class="fa-solid fa-location-dot"></i>
                            الموقع
                        </p>
                        {{ job['city'] }}
                        <p class="card">
                            <i class="fa-regular fa-calendar"></i>
                            التاريخ
                        </p>
                        {{ job['published'] }}
                        <p class="card">
                            <i class="fa-solid fa-link"></i>
                            الرابط
                        </p>

                        <span class="teal-color"><a class="copy-link" href="{{ job['job_url'] }}"
                                                    onclick="copyLink(event, this)"></a> <i
                                class="fa-solid fa-globe"></i> </span>
                    </div>
                    <div class="company-logo">
                        <span>{{ job['company_name'][:1] }}</span>
                    </div>
                </div>
                <div class="application-description application-base">
                    <b><i class="fa-regular fa-file-lines teal-color"></i>الوصف الوظيفي </b>
                    <p>
                        {{ job['job_description'] }}
                    </p>
                </div>
            </div>
            <div class="left-application-card application-base">
                <b><i class="fa-solid fa-briefcase teal-color"></i>الحالة الوظيفية </b>
                <select class="status-select" id="job_status" name="job_status">-->
                        <option value="Wishlist" {% if job['status'] == 'Wishlist' %}selected{% endif %}> قائمة الأمنيات
                        </option>
                        <option value="Applied"{% if job['status'] == 'Applied' %}selected{% endif %}> تقديم</option>
                        <option value="Interviewing"{% if job['status'] == 'Interviewing' %}selected{% endif %}> مقابلة</option>
                        <option value="Offered"{% if job['status'] == 'Offered' %}selected{% endif %}> عرض</option>
                        <option value="Accepted"{% if job['status'] == 'Accepted' %}selected{% endif %}> قبول</option>
                </select>
                <hr>

                <div class="section-title">
                    <i class="bi bi-file-earmark-text"></i>
                    <h4><i class="fa-regular fa-user teal-color"></i> السيرة الذاتية</h4>
                </div>
                 {% if job['CV_id'] == none%}
                    <select class="status-select" id="cvs" name="cvs">
                    {% if documents | selectattr('document_type', 'equalto', 'CV') | list | length > 0 %}
                    {% for document in documents %}
                        {% if document['document_type'] == 'CV' %}
                        <option value="{{document['resumes_id']}}">{{ document['document_name'] }}</option>
                        {% endif %}
                    {% endfor %}
                    {% endif%}
                    </select>
                    <button class="user-document-cv-letter add-button" value="CV"> رفع السيرة</button>
                {% endif %}
                 {% for document in documents %}
                {% if job['CV_id'] != none  %}
                    {% if document['resumes_id'] == job['CV_id'] %}
                    <div class="application-document">
                            <h5>{{ document['document_name'] }}</h5>
                        <div class="application-document">
                             <a  class="secondary-btn" href="{{document['document_url']}}" target="_blank" rel="noopener noreferrer">عرض
                                 <i class="fa-regular fa-file-pdf"></i>
                             </a>
                             <button class="primary-btn" id="unlink_document_cv" value="{{ job['CV_id'] }}">
                                <i class="bi bi-download"></i>
                                فصل
                            </button>
                        </div>
                    </div>
                    {% endif%}
                {% endif %}
                {% endfor%}
                <div class="section-title">
                    <i class="bi bi-person"></i>
                    <h4> <i class="fa-regular fa-file-lines teal-color"></i>خطاب تعريفي  </h4>
                </div>
                {% if job['Cover_id'] == none %}
                    <select class="status-select" id="covers" name="covers">
                    {% if documents | selectattr('document_type', 'equalto', 'Cover') | list | length > 0 %}
                    {% for document in documents %}
                        {% if document['document_type'] == 'Cover' %}
                        <option value="{{document['resumes_id']}}">{{ document['document_name'] }}</option>
                        {% endif %}
                        {% endfor %}
                    {% endif%}
                    </select>
                    <button class="user-document-cv-letter add-button" value="Cover">رفع الخطاب</button>
                {% endif %}

                {% for document in documents %}
                {% if job['Cover_id'] != none  %}
                    {% if document['resumes_id'] == job['Cover_id'] %}
                    <div class="application-document">
                            <h5>{{ document['document_name'] }}</h5>
                        <div class="application-document">
                             <a  class="secondary-btn" href="{{document['document_url']}}" target="_blank" rel="noopener noreferrer">عرض
                                 <i class="fa-regular fa-file-pdf"></i>
                             </a>
                             <button class="primary-btn" id="unlink_document_cover" value="{{ job['CV_id'] }}">
                                <a href="{{ document['document_url'] }}" target="_blank" rel="noopener noreferrer">فصل
                                 </a>

                            </button>
                        </div>
                    </div>
            {% endif%}
            {% endif %}
            {% endfor %}
                <div class="section-title">
                    <i class="bi bi-journal-text"></i>
                    <h4> <i class="fa-regular fa-file-lines teal-color"></i>ملاحظة </h4>
                </div>

                <textarea placeholder="ملاحظات عن الوظيفة...">{{ job['user_note'] }}</textarea>

            </div>
        </div>
    </div>
</div>



<section class="form-start">
    <div class="document-main-form">
        <form
                id="upload-form"
                class="job-info-form"
                action="{{ url_for('views.add_document') }}"
                method="POST"
                enctype="multipart/form-data">
            <input type="hidden" id="document_type" name="document_type" value="">
            <div class="cover-cv-header">
                <h3 id="form-header">رفع المستند</h3>
                <button type="button" class="button-form-x">x</button>
            </div>
            <div class="upload-container">
                <label class="upload-btn" for="file-upload">
                    بحث...
                    <input id="file-upload" class="file-input" type="file" name="file-upload" hidden
                           accept="application/pdf" required>
                </label>
                <span id="document_name_span">لم يتم اختيار ملف</span>
                <input type="hidden" id="document_name" name="document_name" value="">
            </div>
            <input type="hidden" name="redirect_to" value="{{ request.path }}">
            <div class="button-container">
                <input class="submit-button" type="submit" value="قدم">
                <button type="button" class="cancel-button">إلغاء</button>
            </div>
        </form>
    </div>
</section>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='job_card.js') }}"
></script>

{% endfor %}
{% endblock %}