{% extends "home.html" %}

{% block content %}
<div class="contact-us">
    <div class="container-contact">
        <h1>تواصل معنا</h1>
        <form class="contact-us-form" method="POST" action="{{ url_for('views.contact_us') }}">
            <input class="email-style" type="text" name="name" placeholder="الأسم" required>
            <input class="email-style" type="email" name="email" placeholder="الأميل" required>
            <textarea class="email-style" name="message" placeholder="رسالة" required></textarea>
            <input class="register-btn" type="submit" value="إرسال">
        </form>
    </div>
</div>
{% endblock %}