{% extends "dashboard.html" %}

{% block form_content %}

<main class="container">
    <button type="submit" class="add-button"><b>اضافة وظيفة +</b></button>
    <div class="tracker">

        <div class="tracker-items wishlist" id="Wishlist">
            <div class="column-header wishlist">
                <h3>قائمة الأمنيات</h3>

            </div>
            {% for job in jobs %}
            {% if job['status'] == 'Wishlist' %}
            <div class="job-card" draggable="true" data-job-id="{{ job['job_id'] }}">
                <div class="job-card-header">
                    <h3 class="job-title">{{ job['job_title'] }}</h3>
                    <small class="company-name">{{ job['company_name'] }}</small>
                </div>
                <div class="job-card-date">
                    <small><i class="fa-solid fa-calendar-days"></i> {{ job['created_at'] }} </small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="tracker-items applied" id="Applied">
            <div class="column-header">
                <h3>تقديم</h3>
            </div>
            {% for job in jobs %}
            {% if job['status'] == 'Applied' %}
            <div class="job-card" draggable="true" data-job-id="{{ job['job_id'] }}">
                <div class="job-card-header">
                    <h3 class="job-title">{{ job['job_title'] }}</h3>
                    <small class="company-name">{{ job['company_name'] }}</small>
                </div>
                <div class="job-card-date">
                    <small><i class="fa-solid fa-calendar-days"></i> {{ job['created_at'] }}</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="tracker-items interview" id="Interviewing">
            <div class="column-header ">
                <h3>مقابلة</h3>
            </div>
            {% for job in jobs %}
            {% if job['status'] == 'Interviewing' %}
            <div class="job-card" draggable="true" data-job-id="{{ job['job_id'] }}">
                <div class="job-card-header">
                    <h3 class="job-title">{{ job['job_title'] }}</h3>
                    <small class="company-name">{{ job['company_name'] }}</small>
                </div>
                <div class="job-card-date">
                    <small><i class="fa-solid fa-calendar-days"></i> {{ job['created_at'] }}</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="tracker-items offered" id="Offered">
            <div class="column-header">
                <h3>عرض وظيفي</h3>
            </div>
            {% for job in jobs %}
            {% if job['status'] == 'Offered' %}
            <div class="job-card" draggable="true" data-job-id="{{ job['job_id'] }}">
                <div class="job-card-header">
                    <h3 class="job-title">{{ job['job_title'] }}</h3>
                    <small class="company-name">{{ job['company_name'] }}</small>
                </div>
                <div class="job-card-date">
                    <small><i class="fa-solid fa-calendar-days"></i> {{ job['created_at'] }}</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="tracker-items accepted" id="Accepted">
            <div class="column-header">
                <h3>قبول</h3>
            </div>
            {% for job in jobs %}
            {% if job['status'] == 'Accepted' %}
            <div class="job-card" draggable="true" data-job-id="{{ job['job_id'] }}">
                <div class="job-card-header">
                    <h3 class="job-title">{{ job['job_title'] }}</h3>
                    <small class="company-name">{{ job['company_name'] }}</small>
                </div>
                <div class="job-card-date">
                    <small><i class="fa-solid fa-calendar-days"></i> {{ job['created_at'] }}</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="delete-zone" id="delete-zone">
            <div class="sidebar-spacer"></div>
            <div class="delete-content">
                <h3>حذف الوظيفة</h3>
                <p>اسحب هنا للحذف</p>
            </div>
        </div>
    </div>
</main>


<section class="form-start">
    <div class="tracker-form">
        <form class="job-info-form" action="{{ url_for('views.add_job') }}" method="POST">
            <div class="job-info-form-grouper">
                <div class="job-info-logo-h3">
                    <div class="logo-form">
                        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
                    </div>
                    <h3>وظيفة جديدة</h3>
                </div>
                <button type="button" class="button-form-x">x</button>
            </div>

            <div class="job-info-form-url">
                <label for="job_url">رابط الوظيفة</label>
                <input class="form-input" type="text" id="job_url" name="job_url"
                       placeholder="https://example.com">
            </div>
            <div class="job-info-form-title-name">
                <label for="job_title">المسمى الوظيفي:</label>
                <input class="form-input" type="text" id="job_title" name="job_title"
                       placeholder="مثال: مطور مواقع" required>

                <label for="company_name">اسم الشركة:</label>
                <input class="form-input" type="text" id="company_name" name="company_name"
                       placeholder="مثال: شركة التقنية" required>

                <label for="city">المدينة:</label>
                <input class="form-input" type="text" id="city" name="city" placeholder="مثال: الرياض">

                <label for="date_of_publish">تاريخ النشر:</label>
                <input class="form-input" type="date" id="date_of_publish" name="date_of_publish">
            </div>
            <div class="job-info-form-statsu-description">
                <div class="job-info-form-url">
                    <label for="job_description">ملاحظات (اختياري)</label>
                    <input class="form-input discrption" type="text" id="notes" name="notes"
                           placeholder="أي ملاحظات خاصة بهذه الوظيفة">
                </div>
                <div class="job-info-form-url">
                    <label for="job_status">الحالة</label>
                    <select class="form-input discrption" id="job_status" name="job_status" required>
                        <option value="Wishlist"> قائمة الأمنيات</option>
                        <option value="Applied"> تم التقديم</option>
                        <option value="Interviewing">مقابلة</option>
                        <option value="Offered">عرض وظيفي</option>
                        <option value="Accepted">قبول</option>
                    </select>
                </div>
            </div>
            <div class="job-info-form-url">
                <label for="notes">الوصف</label>
                <textarea class="form-input discrption" type="text" id="job_description" name="job_description"
                          placeholder="وصف مختصر عن الوظيفة"></textarea>
            </div>
            <div class="button-container">
                <input class="submit-button" type="submit" value="submit">
                <button type="button" class="cancel-button">إلغاء</button>
            </div>
        </form>
    </div>
</section>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='drag.js') }}"
></script>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='job_card.js') }}"
></script>
{% endblock %}

